@model IEnumerable<Fussball.Models.Player>

@{
    ViewBag.Title = "Index";
}

<script src="@Url.Content("~/Scripts/index.js")"></script>

<div id="playerPicker" class="ribbon">
	<a href="#" class="scrollNav left">bakover</a>
    <div id="PlayerListContainer">
        <ul>
            @foreach(var player in Model) {
            <li data-playerid="@player.ID">
                @if(!string.IsNullOrEmpty(player.Image_Square)) {
                <img src="@player.Image_Square" alt="bilde av @player.Name" />
                } else {
                <img src="@Url.Content("~/Content/img/default_square.jpg")" alt="bilde av @player.Name" />
                }
                <span>@player.Name</span>
            </li>
            }
        </ul>
    </div>
	<a href="#" class="scrollNav right">videre</a>
</div>

<h1>Velg spillere</h1>
    
<form action="@Url.Content("~/Home/Play/")" method="post" name="StartupForm" id="playerForm">
    <ul id="blueDef" class="freeSpot"></ul>
    <ul id="blueOff" class="freeSpot"></ul>
	<h2 id="blueTeamHeading">Blått lag</h2>

    <div id="table">
		<img src="@Url.Content("~/Skin/gfx/fussballTable.png")" alt="table" id="FussBallTable" />
	</div>
        
    <ul id="redOff" class="freeSpot"></ul>
    <ul id="redDef" class="freeSpot"></ul>
	<h2 id="redTeamHeading">Rødt lag</h2>

    <input type="hidden" name="Blue1">
    <input type="hidden" name="Blue2">
    <input type="hidden" name="Red1">
    <input type="hidden" name="Red2">
    <input type="hidden" name="IsTest">
    <button type="submit" id="playBtn" class="largeBtn" disabled>Spill foosball</button>
    <button type="submit" id="playTestBtn">Spill testkamp</button>
</form>

