@model Fussball.ViewModels.PlayGameViewModel

@{
    ViewBag.Title = "Play";
}

<script src="@Url.Content("~/Scripts/playgame.js")"></script>
<form id="GameOver" action="@Url.Content("GameOver/")" method="post">
    <input type="hidden" value="@Model.Game.ID" id="gameID" name="gameID">
    <input type="hidden" name="winningTeam" id="winningTeam" value="0">
</form>

<div class="ribbon">
    @if (Model.Game.IsTest) {
	<div id="TestMatch">Testmatch!</div>
    }
	
	<div id="message">Bytte!</div>
	<div id="BlueSummary"></div>
	<div id="RedSummary"></div>
</div>

<div id="PlayGame">
    <div id="RedTeam" class="teamView">
        <div class="summary">
            <span class="closeSummary">Lukk</span>
            <h3>Røde mål</h3>
        </div>
        <div class="score"><a>0</a></div>
        <button id="@Model.Red2.ID" class="playerOffense">
            <img src="@Model.Red2.GetSquareImage()" alt="bilde av @Model.Red2.Name">
            <span>@Model.Red2.Name</span>
        </button>
        <button id="@Model.Red1.ID" class="playerDefense">
            <img src="@Model.Red1.GetSquareImage()" alt="bilde av @Model.Red1.Name">
            <span>@Model.Red1.Name</span>
        </button>
        <a id="RedSwitch">bytte</a>
		<div class="clear"></div>
    </div>

	 <div id="table">
		<img src="@Url.Content("~/Skin/gfx/fussballTable.png")" alt="table" id="FussBallTable" />
	</div>

    <div id="BlueTeam" class="teamView">
        <div class="summary">
            <span class="closeSummary">Lukk</span>
            <h3>Blå mål</h3>
        </div>
        <div class="score"><a>0</a></div>
        <button id="@Model.Blue1.ID" class="playerDefense">
            <img src="@Model.Blue1.GetSquareImage()" alt="bilde av @Model.Blue1.Name">
            <span>@Model.Blue1.Name</span>
        </button>
        <button id="@Model.Blue2.ID" class="playerOffense">
            <img src="@Model.Blue2.GetSquareImage()" alt="bilde av @Model.Blue2.Name">
            <span>@Model.Blue2.Name</span>
        </button>
        <a id="BlueSwitch">bytte</a>
		<div class="clear"></div>
    </div>
</div>
<div id="PlayTime"><span>00</span>:<span>00</span></div>
<div id="SelfGoalOverlay" class="largeBtn">Selvmål?</div>