@model IEnumerable<Fussball.Models.Player>

@{
    ViewBag.Title = "Index";
}
<script src="@Url.Content("~/Scripts/jquery.ui.js")"></script>
<script>
    $(function () {
        $("#Tabs").tabs();
    });
</script>
<a class="backBtn"></a>
<h1>Statistikk</h1>
@*
    * Generelle
        - Beste par
        - Beste farge
        - Beste posisjon
        - Værste par
    
*@
<div id="Tabs">
    <ul>
        <li><a href="#Last10">Siste 10 kamper</a></li>
        <li><a href="#Overall">Overall</a></li>
        <li><a href="#General">Generelt</a></li>
    </ul>
    <div id="Last10">
        <table id="StatisticList" class="dataList">
            <thead>
                <tr>
                    <th><span>Rank</span> <span class="sorter"></span></th>
                    <th><span>Spiller</span> <span class="sorter"></span></th>
                    <th><span>Mål</span> <span class="sorter"></span></th>
                    <th><span>Selvmål</span> <span class="sorter"></span></th>
                    <th><span>Sluppet inn</span> <span class="sorter"></span></th>
                </tr>
            </thead>
            <tbody>
            @{ int rank = 1; }
            @foreach (var player in Model.OrderByDescending(p => p.Stats.Points)) {
                if (player.TotalGames() > 0) {
                <tr>
                    <td>@(rank++)</td>
                    <td><a href="@Url.Content("~/Player/Details/" + player.ID)" class="playerName">@player.Name</a></td>
                    <td>@player.Stats.Games</td>
                    <td>@player.Stats.SelfGoals</td>
                    <td>@player.Stats.LetInGoals</td>
                </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div id="Overall">
        <table id="OverallList" class="dataList">
            <thead>
                <tr>
                    <th><span>Spiller</span> <span class="sorter"></span></th>
                    <th><span>Kamper</span> <span class="sorter"></span></th>
                    <th><span>Mål</span> <span class="sorter"></span></th>
                    <th><span>Gj.snittsmål</span> <span class="sorter"></span></th>
                    <th><span>Selvmål</span> <span class="sorter"></span></th>
                    <th><span>Sluppet inn</span> <span class="sorter"></span></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var player in Model) {
                <tr>
                    <td><a href="@Url.Content("~/Player/Details/" + player.ID)" class="playerName">@player.Name</a></td>
                    <td class="numberOfGames">@player.TotalGames().ToString()</td>
                    <td>@player.TotalGoals()</td>
                    <td>@Math.Round((decimal)player.AverageGoals(), 2)</td>
                    <td>@player.TotalSelfGoals()</td>
                    <td>@player.LetInGoals()</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div id="General">
        <span>Blå seiere: @ViewData["BlueWins"]</span><br>
        <span>Rød seiere: @ViewData["RedWins"]</span>
    </div>
</div>