<!DOCTYPE html>
<html lang="nb-NO">
<head runat="server">
    <meta charset="utf-8">
    <title>Awesome Foosball App</title>
    <link href="@Url.Content("~/Skin/Reset.css")" rel="stylesheet">
    <link href="@Url.Content("~/Skin/Site.css")" rel="stylesheet">
	<link href="@Url.Content("~/Skin/ui-tabs.css")" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/global.js")"></script>
    <script src="@Url.Content("~/Scripts/bigtarget.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter.js")"></script>
    <meta content="True" name="HandheldFriendly">
</head>

<body>
    <div id="Main">
		<div id="MastHead">
			<a href="@Url.Content("~/")">
				<img id="SiteLogo" alt="hjem" src="@Url.Content("~/Skin/gfx/siteLogo.png")" />
			</a>
			<nav>
				<ul>
					<li><a href="@Url.Content("~/")" title="Opprett ny spiller">Nytt spill</a></li>
					<li><a href="@Url.Content("~/Player/NewPlayer")" title="">Nye spillere</a></li>
					<li><a href="@Url.Content("~/Statistics/")">Statistikk</a></li>
				</ul>
			</nav>
		</div>
        @RenderBody()
    </div>
</body>
</html>