<html>
<head runat="server">
    <meta charset="utf-8">
    <title>Awesome Foosball App</title>
    <link href="../../Skin/Reset.css" rel="stylesheet">
    <link href="../../Skin/Site.css" rel="stylesheet">
	<link href="../../Skin/ui-tabs.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/global.js")"></script>
    <script src="@Url.Content("~/Scripts/bigtarget.js")"></script>
    <script src="@Url.Content("~/Scripts/tablesorter.js")"></script>
    <meta content="True" name="HandheldFriendly">
</head>

<body>
    <div id="Main">
		<div id="MastHead">
			<a href="/">
				<img id="SiteLogo" alt="hjem" src="@Url.Content("~/Skin/gfx/siteLogo.png")" />
			</a>
			<nav>
				<ul>
					<li><a href="@Url.Content("~/Home/Index")" title="Opprett ny spiller">Nytt spill</a></li>
					<li><a href="@Url.Content("~/Statistics/Index")" title="Gå til statistikk">Statistikk</a></li>
					<li><a href="@Url.Content("~/Player/NewPlayer")" title="Opprett nye spillere">Ny spiller</a></li>
					<li><a href="#" title="Rediger eksisterende spiller">Rediger spiller</a></li>
				</ul>
			</nav>
		</div>
        @RenderBody()
    </div>
</body>
</html>