@model Fussball.Models.Player

@{
    ViewBag.Title = "Details";
}
<script src="@Url.Content("~/Scripts/jquery.ui.js")"></script>
<script>
	$(function () {
		$("#Tabs").tabs();
	});
</script>
<div id="PlayerCard">
    <h1>@Model.Name</h1>
    <img src="@Model.Image_Large" alt="Bilde av @Model.Name">

	<div id="Tabs">
		<ul>
			<li><a href="#Overall">Overall</a></li>
			<li><a href="#Last10">Siste 10 kamper</a></li>
		</ul>
		<div id="Overall">
			<dl>
				<dt>Antall kamper</dt>
				<dd>@Model.TotalGames()</dd>
                <dt>Antall seier</dt>
                <dd>@Model.TotalWins()</dd>
				<dt>Antall mål</dt>
				<dd>@Model.TotalGoals()</dd>
				<dt>Antall selvmål</dt>
				<dd>@Model.TotalSelfGoals()</dd>
				<dt>Sluppet inn</dt>
				<dd>@Model.LetInGoals()</dd>
				<dt>Gjennomsnittsmål pr kamp</dt>
				<dd>@Math.Round(Model.AverageGoals(), 2)</dd>
				<dt>Beste farge</dt>
				<dd>@Model.BestColor()</dd>
				<dt>Beste posisjon</dt>
				<dd>@Model.BestPosition()</dd>
				<dt>Spilt mest med</dt>
				<dd>@Model.PlayedMostWith()</dd>
				<dt>Vunnet mest med</dt>
				<dd>@Model.BestTeamPlayer()</dd>
			</dl>
		</div>
		<div id="Last10">
			
			<table class="dataList">
				<thead>
					<tr>
						<th><span>Dato</span></th>
						<th><span>Blått lag</span></th>
						<th><span>Rødt lag</span></th>
						<th><span>Mål</span></th>
					</tr>
				</thead>
				<tbody>
                    @foreach (var game in Model.GetLast10Games())
                    {
					<tr>
						<td>@Html.ActionLink(game.DateStart.ToShortDateString(), "GameOver", "Home", new { game.ID }, null)</td>
						<td>@game.Blue1Name() (@game.Blue1Goals())/ @game.Blue2Name() (@game.Blue2Goals())</td>
						<td>@game.Red1Name() (@game.Red1Goals()) / @game.Red2Name() (@game.Red2Goals())</td>
						<td>@game.BlueGoals() - @game.RedGoals()</td>
					</tr>
                    }
				</tbody>
			</table>
			        
		</div>

	</div><!-- END TABS -->

</div>